<% problematics = [892, 774, 778, 710, 645, 642, 641, 555, 550] %>
<div class="content">
  <% if !@pokemons.empty? %>
    <% @pokemons.each do |pokemon| %>
      <div class="card">
        <div class="heart-container d-flex justify-content-between">
          <div class="empty-div" style="color: lavender;"> </div>
          <% if problematics.include?(pokemon.id) %>
            <% problematics.delete(pokemon.id) %>
            <i id="<%= pokemon.id %>" class="pokemon-id button-toggle-favorite far fa-heart" style="font-size: 24px; top: 23px;" data-pokemon-id="<%= pokemon.id %>"></i>
          <% else %>
            <i id="<%= pokemon.id %>" class="pokemon-id button-toggle-favorite far fa-heart" style="font-size: 24px;" data-pokemon-id="<%= pokemon.id %>"></i>
          <% end %>
        </div>
        <%= link_to pokemon_path(pokemon) do %>
            <div class="img-top">
              <%= image_tag "#{pokemon.sprite_url}" %>
            </div>
          <div class="name"><%= pokemon.name.capitalize %></div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div id="no-results" class="content align-items-center">
      <div id="no-results-card">
        <div class="hal">
          <div id="1" class="pokemon-id button-toggle-favorite" style="width: 100%; text-align: right; margin-top: 6px; margin-right: 6px;" data-pokemon-id="1">
          </div>
        </div>
        <div id="no-results-text">No results..</div>
      </div>
    </div>
  <% end %>
</div>

