<% type_colors = {"normal" => "#A8A878", "fighting" => "#C03028", "flying" => "#A890F0", "poison" => "#A040A0", "ground" => "#E0C068", "rock" => "#705898", "bug" => "#A8B820", "ghost" => "#705898", "steel" => "#FFFFFF", "fire" => "#F08030", "water" => "#6890F0", "grass" => "#78C850", "electric" => "#98D8D8", "psychic" => "#F85888", "ice" => "#98D8D8", "dragon" => "#7038F8", "dark" => "#705848", "fairy" => "#EE99AC" } %>
<div id="sprite-half" style="background-color: #06D6A0">
  <%#= button_to "delete", {:controller => :static_pages, :action => 'fresh'}, :method => :get %>
  <%= image_tag "#{@pokemon.sprite_url}", id: "pokemon-sprite" %>
</div>
<div id="info-half">
  <div id="pokemon-show-id">#<%= @pokemon.id %></div>
  <div id="pokemon-name">
    <%= link_to "#{pokemon_path(@pokemon.id - 1)}" do %>
      <i class="fas fa-angle-double-left" style="padding-right: 4px;"></i>
    <% end %>
    <%= @pokemon.name.capitalize %>
    <%= link_to "#{pokemon_path(@pokemon.id + 1)}" do %>
      <i class="fas fa-angle-double-right" style="padding-right: 4px;"></i>
    <% end %>
  </div>
  <i data-pokemon-id="<%= @pokemon.id %>" class="pokemon-id button-toggle-favorite far fa-heart heart"></i>
  <div id="pokemon-types">
    <div class="type" style="background-color: <%= type_colors[@pokemon.types.first.name] %>">
      <%= link_to @pokemon.types.first.name.capitalize, pokemons_path(search: {"name" => nil, "type" => @pokemon.types.first.name})  %>
    </div>
    <% if @pokemon.types.count > 1 %>
    <div class="type" style="background-color: <%= type_colors[@pokemon.types.last.name] %>">
      <%= link_to @pokemon.types.last.name.capitalize, pokemons_path(search: {"name" => nil, "type" => @pokemon.types.last.name})  %>
    </div>
    <% end %>
  </div>
  <div id="pokemon-description">
    <%= @pokemon.description %>
  </div>
  <div class="pokemon-stats">
  
    <div class="half-side">
      <div class="stat-container">
        <i class="fas fa-heartbeat"></i>
        <div class="stat hp"><%= @pokemon.hp %></div>
      </div>
      <div class="stat-container">
        <%= image_tag "swords.png" , class: "swords"%>
        <div class="stat atk"><%= @pokemon.attack %></div>
      </div>
      <div class="stat-container">
        <i class="fas fa-shield-alt"></i>
        <div class="stat def"><%= @pokemon.defense %></div>
      </div>
    </div>
    
    <div class="half-side">
      <div class="stat-container">
        <div class="special-stats">
          <i class="fas fa-star"></i><%= image_tag "swords" , class: "swords"%>
        </div>
        <div class="stat sp-atk"><%= @pokemon.special_attack %></div>
      </div>
      <div class="stat-container">
        <div class="special-stats">
          <i class="fas fa-star"></i><i class="fas fa-shield-alt"></i>
        </div>
        <div class="stat sp-def"><%= @pokemon.special_defense %></div>
      </div>
      <div class="stat-container">
        <div class="special-stats">
          <i class="fas fa-paw"></i><i class="fas fa-tachometer-alt"></i>
        </div>
        <div class="stat speed"><%= @pokemon.speed %></div>
      </div>
    </div>
  </div>
  <div class="evolution-content">
    <% if !@evolution_chain[:second].present? %>
      <div class="cant-evolve-text">Sadly, this Pokemon is the only link in its evolution chain 😞</div>
    <% end %>
    <div id="chain-header">Evolution Chain:</div>
    <% @evolution_chain.each do |level, pokemons_in_level| %>
      <% if pokemons_in_level.present? %>
        <% unless level == :first %>
          <div class="can-evolve-text">Which can potentially evolve to:</div>
        <% end %>
        <div class="column column-<%= level.to_s %>">
          <% pokemons_in_level.each do |pokemon| %>
            <div class="card">
              <i id="<%= pokemon.id %>" class="pokemon-id button-toggle-favorite far fa-heart" style="width: 100%; text-align: right; margin-top: 6px; margin-right: 6px;" data-pokemon-id="<%= pokemon.id %>"></i>
              <%= link_to pokemon_path(pokemon) do %>
                  <div class="img-top">
                    <%= image_tag "#{pokemon.sprite_url}" %>
                  </div>
                <div class="name"><%= pokemon.name.capitalize %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

